<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.furBlur" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Furblur</name>
    <description>Furblur app</description>
    <author email="gary.healy.87@gmail.com">
        Gary Healy
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="ios">
        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>We need your location to display the map</string>
        </edit-config>
        <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
            <string>We need your location even when the app is in the background</string>
        </edit-config>
        <edit-config target="NSPrivacyAccessedAPICategoryLocation" file="*-Info.plist" mode="merge">
            <string>NSPrivacyAccessedAPICategoryLocation</string>
        </edit-config>
    </platform>
</widget>

