/* Ensure the body and html elements take up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
}

/* Create a flex container for the whole page */
.container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
}

/* Map styling */
#map {
  flex-grow: 1; /* This will make the map take up all available space above the footer */
  top: 1%;
  width: 100%; /* Full width */
  border: 2px solid #007bff;
  border-radius: 2%;
}

#page-header {
  background: white;
}

.sour-gummy-font {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

footer {
  height: 80px; 
  background: white;
}

.col{
  text-align: center;
  padding-top: 5%;
}




