/* Ensure the body and html elements take up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
}

.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Create a flex container for the whole page */
.wholePageContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 90%;
}

#content, #map {
  flex-grow: 1; /* This will make the content or map take up all available space above the footer */
  top: 1%;
  width: 100%; /* Full width */
  border: 2px solid #007bff;
  border-radius: 2%;
}

.page-header {
  background: white;
}

footer {
  background: white;
  min-height: 50px;
  padding: 12px;
}

.col{
  text-align: center;
  padding-top: 5%;
}

#currentScreenIcon {
  color: #007bff;
}

#walking {
  height: 80px; 
  background: white;
  text-align: center;
  padding: 5%;
}

#walkingButton {
  color: red;
  font-size: 35px;
}

#walkingButtonOnLocationErrorMessage {
  color: red;
  padding: 1%;
  text-wrap: wrap;
  font-size: 100%;
  font-style: italic;
}

hr.style1 {
  border-top: 1px solid #007bff;
}

#walkStats {
  border: 5%;
  font-weight: bold;
}